<section class="special-container">

	<div class="content">
		<header class="login-header">
		<div class="div-logo"><%= image_tag 'prosalud_logo.png', class: 'logo-img' %></div>
		<div class="login-container">
			<form action="" class="">
				<h3><i class="icon left fa fa-unlock-alt fa-fw" aria-hidden="true"></i>Login</h3>
				<div class="login-input">
					<input type="text" class="form-control" placeholder="Username">
				</div>
				<div class="login-input">
					<input type="password" class="form-control" placeholder="Password">
				</div>
				<div class="login-btn-section">
					<%= link_to 'Entrar', users_path, class: 'btn btn-info' %>
				</div>
			</form>
			<br>
			<div class="copyright" style="color: white;"> 2016 © Prosalud A.C. </div>
		</div>
	</header>
	</div>

</section>